---
import Layout from "../../layouts/Layout.astro";
import { getCollection, getEntry } from "astro:content";
import TableOfContents from "../../components/TableOfContents.astro";

export async function getStaticPaths() {
  const posts = await getCollection("research");
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = await getEntry("research", slug);
const { Content } = await post.render();
---

<Layout title={`${post.data.title} | 科研记录`}>
  <div class="article-wrapper">
    <TableOfContents />
    <div class="article-content">
      <article class="typora-github">
    <h1>{post.data.title}</h1>
      <Content />
    </article>
    </div>
  </div>
</Layout>
